<footer class="container-fluid bg-dark p-5 ">
    <div class="container text-white">
     <div class="row g-4">
         <div class="col-md-4">
    <div class="location text-center">
        <h3 class="text-uppercase">Location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
    </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="social-links ">
                   <div class="header"> <h3 class="text-uppercase mb-3">around the web</h3></div>
                    <div class="social d-flex align-items-center justify-content-center ">
                <p class="facebook mx-2 "><i class="fa-brands fa-facebook p-2 rounded-circle border-white border border-2 "></i></p>
                <p class="twitter mx-2 "><i class="fa-brands fa-twitter p-2 rounded-circle border-white border border-2 "></i></p>
                <p class="linkd mx-2 "><i class="fa-brands fa-linkedin-in p-2 rounded-circle border-white border border-2 "></i></p>
                <p class="web mx-2"><i class="fa-solid fa-globe p-2 rounded-circle border-white border border-2 "></i></p>
                    </div>
                   
                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about text-center">
                                <h3>ABOUT FREELANCER</h3>
                                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                               
                            </div>
                       </div>
                       
        </div>
       
    </div>
   
 </footer>
 <div class=" text-white  bg-black text-center w-100 container-fluid  p-3">
     <p>
         Copyright © Your Website 2025
     </p>
    </div>
   
