



<div class="container-fluid bg-black vh-100 d-flex justify-content-center align-items-center ">
    <div class="container items my-5">
       <div >
        <div class=" text-center my-5 text-white">
            <h1 class="text-uppercase my-3  ">about component</h1>
            <div class="star  d-flex align-items-center justify-content-center my-3"><span class="rounded-pill"></span> <i class="fa-solid fa-star text-white fs-5"></i><span class="rounded-pill"></span></div>
        </div>
            <div class=" container ">
                <div class="row g-3">
                    <div class="col-md-6 d-flex justify-content-between text-start text-white"><div class="items"><p class="mx-5 fs-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-between text-start text-white">
                        <div class="d-flex justify-content-between text-start">
                            <div class="items "><p class="mx-5 fs-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p> </div>
                        </div>
                    </div>
                </div>
        </div>
       
    </div>
    </div>
    








