<div class="container-fluid bg vh-100 d-flex justify-content-center align-items-end  ">
    <div class="container items my-5">
       <div>
        <div class=" text-center my-5 text-white">
            <h1 class="text-uppercase  ">start framework</h1>
            <div class="star  d-flex align-items-center justify-content-center my-1"><span class="rounded-pill"></span> <i class="fa-solid fa-star text-white fs-5"></i><span class="rounded-pill"></span></div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
       </div>
    </div>
    </div>
    
